<div class="main-content">
  <div class="container-fluid">
    
    <mat-card> 
      <div style="padding-right: 10px">
        <a routerLink="/addpage" >Add More Pages</a>
        <button  mat-button [matMenuTriggerFor]="menu">Quick Action</button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="quickAction()">Delete</button>
          <button mat-menu-item (click)="updatePageStatus(false)">Deactivate</button>
          <button mat-menu-item (click)="updatePageStatus(true)">Activate</button>
        </mat-menu>
      </div>  

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
        </ng-container>
        

        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>


      
        <ng-container matColumnDef="Short_Desc">
          <th mat-header-cell *matHeaderCellDef> Short_Desc </th>
          <td mat-cell *matCellDef="let element"> {{element.short_desc}}  </td>
        </ng-container>

        <ng-container matColumnDef="Meta_Keyword">
          <th mat-header-cell *matHeaderCellDef> Meta_Keyword </th>
          <td mat-cell *matCellDef="let element"> {{element.meta_keyword}} </td>
        </ng-container>



        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" >{{element.status=="true"?'Active':'Deactivate'}}</td>
        </ng-container>
      

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">   <i (click)="removeSingleData(element._id)" class="material-icons">delete_forever</i> <i (click)="editPage(element._id)" class="material-icons">info</i> </td>
        </ng-container>  

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
      [length]="totalLength"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]" (page)="pageChange($event)"   showFirstLastButtons></mat-paginator>
    </mat-card>  
  </div>
</div>
