<div class="main-content">
   <div class="container-fluid">
      <form [formGroup]="formAddContent" enctype="multipart/form-data">
         <mat-card>
               <mat-card-header>
                 <div mat-card-avatar class="example-header-image"></div>
                 <mat-icon class="addpageicon">note_add</mat-icon>
                 <p>Add Blogs</p>
                 <!-- <mat-card-title>Add Page</mat-card-title> -->
               
               </mat-card-header>
               <mat-card-content>

                  <div fxLayout="column">
                      <mat-form-field >
                          <input matInput placeholder="Title" formControlName="title" required />
                          <mat-error *ngIf="formAddContent.get('title').hasError('required')">This field is required</mat-error>
                      </mat-form-field>
                  </div>

                 <div fxLayout="column">
                     <mat-form-field >
                       <textarea matInput placeholder="Short Description" formControlName="short_desc" required ></textarea>
                       <mat-error *ngIf="formAddContent.get('short_desc').hasError('required')">This is required</mat-error>
                     </mat-form-field>
                 </div>  

                 <div fxLayout="column">
                   <input type="file" (change) ="onSelectedFile($event)">
                 </div><br>

                 <div [froalaEditor] formControlName="content" ></div>  
                 
                <div fxLayout="column">
                    <mat-form-field >
                        <input matInput placeholder="Meta Title" formControlName="meta_title" required/>
                        <mat-error *ngIf="formAddContent.get('meta_title').hasError('required')">This field is required</mat-error>
                    </mat-form-field>
                </div>

                 <div fxLayout="column">
                     <mat-form-field >
                         <input matInput placeholder="Meta Keyword" formControlName="meta_keyword" />       
                     </mat-form-field>
                 </div>


                 <div fxLayout="column">
                     <mat-form-field >
                         <input matInput placeholder="Meta Description" formControlName="meta_desc" />
                     </mat-form-field>
                 </div>

                 <div fxLayout="column">
                       <mat-form-field>
                           <mat-select placeholder="Status" formControlName="status" required>
                               <mat-option value=true>Active</mat-option>
                               <mat-option value=false>Inactive</mat-option>
                             </mat-select>
                             <mat-error *ngIf="formAddContent.get('status').hasError('required')">This is required</mat-error>
                       </mat-form-field>
                 </div>

                 <div fxLayoutAlign="center center" >
                   <button mat-raised-button color="primary" (click)="addPageWithFile()">Submit</button>
                 </div>
             </mat-card-content>
         </mat-card>
      </form>

   </div>  
 </div>
 