<footer class="footer ">
  <div class="container-fluid">
      <div class="copyright pull-right">
         <small>&copy;   
          <a href="https://www.flexsin.com/" target="_blank">Xearn Technologies</a>, All right reserved
        </small> 
      </div>
  </div>
</footer>
