<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid" fxLayout="row" fxLayoutAlign="end center">

    <div>
        <a   mat-button [matMenuTriggerFor]="menu">
            <img class="adminlogo" src="../../../assets/img/adminlogo.png"/>
            <p class="adminusername">admin</p>
          </a>
            <mat-menu #menu="matMenu" >
              <a routerLink="/pages">
              <i class="material-icons">person</i>
              <p mat-menu-item>Profile</p></a>
              
                <a >
                  <i class="material-icons">exit_to_app</i>
                  <button mat-menu-item (click)="logout()" >Logout</button></a>
            </mat-menu>
    </div>
  </div>
</nav>
