.adminlogo {
    width: 37px;
    height: 37px;
}
.adminusername{
    margin-top: -36px;
    margin-bottom: 0rem;
    padding-left: 85px;
    color: black;
}

.mat-menu-item{
    padding-left: 47px;
    margin-top: -35px;
}