
<div class="login-page">
  <div class="form">
    <h2><img src="/assets/img/logo2.png" width="150px"/></h2>
      <form [formGroup]="loginForm" class="login-form">

          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required />
            <mat-error *ngIf="loginForm.get('email').hasError('required')">This is required</mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('email')">please enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required/>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">This is required</mat-error>
          </mat-form-field>
        
          <button mat-raised-button color="primary" (click)="submitLogin()">Login</button>
        </form>
  </div>
</div>