<div class="main-content">
  <div class="container-fluid">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-icon class="addpageicon">person_add</mat-icon>
        <mat-card-title>Add Admin</mat-card-title>
      </mat-card-header>
        <form [formGroup]="adminForm">
          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxFlex="49">
              <mat-form-field >
                <input matInput placeholder="First Name" formControlName="firstname" required >
                <mat-error *ngIf="adminForm.get('firstname').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex="49">
              <mat-form-field >
                <input matInput placeholder="Last Name" formControlName="lastname" required >
                <mat-error *ngIf="adminForm.get('lastname').hasError('required')" >This is required</mat-error>
              </mat-form-field>
            </div>
          </div>  

          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxFlex="49">
              <mat-form-field >
                <input matInput placeholder="email" formControlName="email" required >
                <mat-error *ngIf="adminForm.get('email').hasError('required')">This is required</mat-error>
                <mat-error *ngIf="adminForm.get('email').hasError('email')">email is not valid</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex="49">
              <mat-form-field >
                <input matInput placeholder="Admin Name" formControlName="username" required >
                <mat-error *ngIf="adminForm.get('username').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
          </div>  

         
          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxFlex="49">
              <mat-form-field >
                <input matInput placeholder="Mobile" formControlName="mobile" required >
                <mat-error *ngIf="adminForm.get('mobile').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex="49">
              <mat-form-field >
                <input matInput placeholder="Address" formControlName="address" required >
                <mat-error *ngIf="adminForm.get('address').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
          </div>           
          
          <div fxLayout="row" fxLayoutAlign="space-between center"  >
            <div fxFlex="49">
              <mat-form-field >
                <mat-select placeholder="Role" formControlName="role_id" required (ngModelChange)="check()" > 
                  <mat-option *ngFor="let role of adminRole" value="{{role._id}}">{{role.role}}</mat-option>
                </mat-select>
                <mat-error *ngIf="adminForm.get('role').hasError('required')">This is required</mat-error>
              </mat-form-field>  
            </div>
            
            <div fxFlex="49">
              <mat-form-field >
                <mat-select placeholder="Status" formControlName="status" required > 
                  <mat-option value="true">Active</mat-option>
                  <mat-option value="false">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="adminForm.get('status').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
          </div>  

          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxFlex="49">
              <mat-form-field >
                <input matInput type="password" placeholder="Password" formControlName="password" required >
                <mat-error *ngIf="adminForm.get('password').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex="49">
              <mat-form-field >
                <input matInput type="password" placeholder="Confirm Password"  required >
                <mat-error *ngIf="adminForm.get('password').hasError('required')">This is required</mat-error>
              </mat-form-field>
            </div>
          </div>


          <div style="margin-left: 426px; padding-top: 27px;">
            <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
          </div>

        </form>

    
    </mat-card>
  </div>  
</div>
