<div class="main-content">
  <div class="container-fluid">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon class="addpageicon">person_add</mat-icon>
        <mat-card-title>Add Role</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form  >
          <div fxLayout="row" fxLayoutAlign="space-between center" >
              <div fxFlex="49">
                <mat-form-field >
                  <input matInput name="role" [(ngModel)]="form.role"   placeholder="Role" required >
                  <mat-error >This is required</mat-error>
                </mat-form-field>
              </div>
              
              <div fxFlex="49">
                  <mat-form-field >
                      <mat-select placeholder="Status" name="status" [(ngModel)]="form.status" required  > 
                        <mat-option  value="true">Active</mat-option>
                        <mat-option  value="false">Inactive</mat-option>
                        
                      </mat-select>
                  </mat-form-field> 
              </div>
          </div> 

          <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let item of secondarySidebar"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item)">
                  {{item}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  name="permissions"
                  [(ngModel)]="form.permissions"
                  placeholder="Select Category"
                  #fruitInput
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete    #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let menu of ParentCategory" value="{{menu}}">
                  {{menu}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>   
            <div style="  margin-left: 426px; padding-top: 27px;">
              <button mat-raised-button color="primary" (click)="submitAddRole()" >Submit</button>
            </div>

        </form>  
      </mat-card-content>
    
    </mat-card>



  </div>
</div>
