<div class="main-content">
  <div class="container-fluid">
     <form [formGroup]="editPageForm" enctype="multipart/form-data">
        <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-icon class="addpageicon">edit</mat-icon>
                <p>Edit Pages</p>
                <!-- <mat-card-title>Add Page</mat-card-title> -->
              
              </mat-card-header>
              <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div fxFlex="49">
                    <mat-form-field >
                      <input matInput placeholder="Page Title" formControlName="title" required >
                      <mat-error *ngIf="editPageForm.get('title').hasError('required')">This is required</mat-error>
                    </mat-form-field>
                  </div>
                  
                  <div fxFlex="49">
                    <mat-form-field >
                      <input matInput placeholder="Page Short Description" formControlName="short_desc"  required >
                      <mat-error *ngIf="editPageForm.get('short_desc').hasError('required')">This is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>  
                <div>

                  <input type="file" (change) ="onSelectedFile($event)">
                  <img src="http://localhost:3100{{imagePath}}"  style="width:100px">
                  
                </div>

                <div [froalaEditor]  formControlName="content" ></div>  


                <div fxLayout="column">
                    <mat-form-field >
                        <input matInput placeholder="Meta Keyword" formControlName="meta_keyword">                           
                    </mat-form-field>
                </div>


                <div fxLayout="column">
                    <mat-form-field >
                        <input matInput placeholder="Meta Description" formControlName="meta_desc"  >
                    </mat-form-field>
                </div>

                <div fxLayout="column">
                    <mat-form-field >
                        <mat-select placeholder="Location" formControlName="location"> 
                          <mat-option value="Header">Header</mat-option>
                          <mat-option value="Footer">Footer</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="editPageForm.get('location').hasError('required')">This is required</mat-error> -->
                    </mat-form-field>
                </div> 

                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <div fxFlex="49">
                    <mat-form-field >
                        <mat-select placeholder="Order" formControlName="order" >
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                          </mat-select>
                    </mat-form-field>
                  </div>  
            
                    <div fxFlex="49">
                      <mat-form-field >
                          <mat-select placeholder="Status" formControlName="status">
                              <mat-option value=true>Active</mat-option>
                              <mat-option value=false>Inactive</mat-option>
                            </mat-select>
                            <mat-error *ngIf="editPageForm.get('status').hasError('required')"></mat-error>
                      </mat-form-field>
                    </div>  
                </div>
                <div fxLayoutAlign="center center" >
                  <button mat-raised-button color="primary" (click)="editPageWithFileData()">Submit</button>
                </div>
            </mat-card-content>
        </mat-card>
     </form>
  </div>  
</div>