<h2 mat-dialog-title>Delete all</h2>
<!-- <mat-dialog-content>Are you sure?</mat-dialog-content> -->

<mat-dialog-content>
  <p>Are you sure you want to delete the product </p>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-dialog-close> Cancel</button>
  <button [mat-dialog-close]="true" cdkFocusInitial>Remove</button>
</mat-dialog-actions>