<div class="logo">
    <a href="/dashboard" class="simple-text">
        <div >
            <img src="/assets/img/logo2.png" width="180px"/>
        </div>
        
    </a>
</div>
<div class="sidebar-wrapper">
    
    <mat-accordion>
        <ul class="nav">
            <li routerLinkActive="active" 
                *ngFor="let menuItem of menuItems; let index= index;" 
                class="{{menuItem.class}} nav-item">
                <a class="nav-link" *ngIf="!menuItem.submenu"
                    [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
                <mat-expansion-panel class="remove-shadow"  *ngIf="menuItem.submenu">
                        <mat-expansion-panel-header  class="mat-expansion-panel-header" >
                            <a >
                                <i class="material-icons">{{menuItem.icon}}</i>
                                <p>{{menuItem.title}}</p>
                                
                            </a>
                        </mat-expansion-panel-header>
                        <ul class="nav">
                            <li routerLinkActive="active" 
                            class="nav-item" 
                            *ngFor="let child of menuItem.submenu" >
                            <a class="submenueffect" [routerLink]="[child.path]">
                                <i class="material-icons">{{child.icon}}</i>
                                <p >{{child.title}}</p>
                            </a>
                        </li>
                    </ul>
                </mat-expansion-panel>
            </li>
            <li routerLinkActive="active" class="nav-item" >
                <a   class="submenueffect">
                    <i class="material-icons">exit_to_app</i>
                    <p style="cursor: pointer" (click)="logout()">Logout</p>
                </a>
            <li>
        </ul>
    </mat-accordion>
</div>
