.mat-expansion-panel-header {

    padding-left: 0px;
  }
.submenueffect{
  display: block; margin: 5px auto;
}  
.remove-shadow.mat-expansion-panel {
  box-shadow: none !important;
  background-color: transparent;

}
.nav > li {  border-bottom: 1px #e8dfdf solid;}
.nav > li.active, 
.nav > li .nav > li:last-child
 {  border-bottom: 1px transparent solid;}


 ul.nav .nav {    margin-top: 0;}
