<div class="main-content">
  <div class="container-fluid">
      <mat-card>
        <mat-tab-group>
            <mat-tab label="Profile"> 
              <form [formGroup]="userProfileForm">
                  <div fxLayout="row"  fxLayoutAlign="space-between center" >
                    <div fxFlex="49">
                      <mat-form-field>
                          <input matInput placeholder="First Name" formControlName="firstname" required />
                          <mat-error *ngIf="userProfileForm.get('firstname').hasError('required')" >This is required</mat-error>
                         
                      </mat-form-field>  
                    </div>     
                  <div fxFlex="49">  
                      <mat-form-field>
                          <input matInput placeholder="Last Name" formControlName="lastname" required />
                          <mat-error *ngIf="userProfileForm.get('lastname').hasError('required')"  >This is required</mat-error>
                      </mat-form-field> 
                  </div>  
                </div>  

                <div fxLayout="row"  fxLayoutAlign="space-between center" >
                    <div fxFlex="49">
                      <mat-form-field>
                          <input matInput placeholder="email" formControlName="email"  required />
                          <mat-error *ngIf="userProfileForm.get('email').hasError('required')"  >This is required</mat-error>
                      </mat-form-field>  
                    </div>     
                  <div fxFlex="49">  
                      <mat-form-field>
                          <input matInput placeholder="User Name" formControlName="username"  required />
                          <mat-error *ngIf="userProfileForm.get('username').hasError('required')"  >This is required</mat-error>
                      </mat-form-field> 
                  </div>  
                </div>  

                <div fxLayout="row"  fxLayoutAlign="space-between center" >
                    <div fxFlex="49">
                      <mat-form-field>
                          <input matInput placeholder="Mobile" formControlName="mobile" required />
                          <mat-error *ngIf="userProfileForm.get('mobile').hasError('required')"  >This is required</mat-error>
                      </mat-form-field>  
                    </div>     
                  <div fxFlex="49">  
                      <mat-form-field>
                          <input matInput placeholder="Address" formControlName="address" required />
                          <mat-error *ngIf="userProfileForm.get('address').hasError('required')"  >This is required</mat-error>
                      </mat-form-field> 
                  </div>  
                </div>  

                <div fxLayoutAlign="center center" >
                    <button mat-raised-button color="primary" (click)="updateUserProfile()">Submit</button>
                </div>
              </form>              
            </mat-tab>
            <!-- <mat-tab label="Profie Picture "> 


            </mat-tab> -->
            <mat-tab label="Reset Password "> 
              
              <form [formGroup]="resetPasswordForm" >
                <mat-form-field>
                    <input matInput type="password" placeholder="Old Password" formControlName="password" [type]="hide ? 'password' : 'text'" required />
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error  *ngIf="resetPasswordForm.get('password').hasError('required')" >This is required</mat-error>
                </mat-form-field>  
                
                <mat-form-field>
                    <input matInput type="password" placeholder="New Password" formControlName="newpassword" [type]="hideNewPassword ? 'password' : 'text'" required />
                    <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('newpassword').hasError('required')">This is required</mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newpassword').hasError('minlength')" >password Should be 6 character long</mat-error>
                </mat-form-field> 

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="newpassword" [type]="hideNewPassword ? 'password' : 'text'" required />
                    <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('newpassword').hasError('required')">This is required</mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newpassword').hasError('minlength')" >password Should be 6 character long</mat-error>
                </mat-form-field> 
                <div fxLayoutAlign="center center" >
                    <button mat-raised-button color="primary" (click)="updatePassword()" >Submit</button>
                 </div>
              </form>
            </mat-tab>
          </mat-tab-group>
      </mat-card>  
  </div>
</div>
