/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-expansion-panel-body {
    padding: 0 !important;
}
mat-expansion-panel.mat-expanded  mat-expansion-panel-header {border-bottom: 1px #dedddd solid;}
.main-panel .navbar.navbar-absolute {
    margin-bottom: 0;
    position: fixed;
    background-color: #fefefe !important;
    border-bottom: 1px #e2e2e2 solid;
    left: 261px;
    padding: 0;
    width: auto;
    height: 55px;
    box-shadow: 0 8px 1px -6px #e0e0e0;
}


