
<img src="/assets/img/warning.png" style="width: 90px; height: 70px">
<h2 mat-dialog-title>Are you sure?</h2>
<mat-dialog-content>
  <p>you want to delete the post </p>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button color="primary" > Cancel</button>
  <button [mat-dialog-close]="true" cdkFocusInitial mat-raised-button color="primary" >Remove</button>
</mat-dialog-actions>